@using GitVersionTests.ServiceModel
@inherits ViewPage

@{
    ViewBag.Title = "ServiceStack with Razor";
}

<h2>Hello World Service</h2>

<form action="@(new Hello().ToPostUrl())">
    <div>
        <p>My awesomme new feature. Success.</p>
        <p>Feature 3</p>
        <p>But this time we have more text! Wooo, what an addition!</p>
        <p>We had to refactor itr a little bit since last deployment?!?!?! Wait, I forgot this functionlity as well.</p>

        <input class="form-control input-lg" name="Name" type="text" placeholder="Type your name">
        <button>Submit</button>
    </div>
</form>
